{% extends "base.html" %}

{% block description %}The Social Sounds Project explores the place of sound, audio methods and sonic environments in the social sciences, with practical activities leading to an online installation.{% endblock %}

{% block content %}
<div id="map"></div>
{% endblock %}


{% block js %}
<!-- Mapbox/Leaflet JS -->
<script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>
<!-- Soundcloud JS -->
<script src="http://connect.soundcloud.com/sdk.js"></script>
<!-- Social Sounds Project map JS -->
<script src="/static/js/map.js"></script>
<script src="/static/js/index.js"></script>
{% endblock %}
