{% extends "base.html" %}

{% block content %}
<div class="row">
  <div id="sidebar" class="col-md-2">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="http://socialsoundsproject.com">Project Blog</a></li>
        <li>Projects:</li>
        <li><a href="#">poverty and youth</a></li>
        <li class="active"><a href="#">on campus</a></li>
        <li><a href="#">traffic</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-md-10">
    <div id="map">
    </div>
  </div>
</div><!-- /.container/.row -->
{% endblock %}
