{% extends "base.html" %}

{% block content %}
<div class="row">
  <div id="sidebar" class="col-md-2">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="http://socialsoundsproject.com">Project Blog</a></li>
        <li>Projects:</li>
        <li><a href="#">poverty and youth</a></li>
        <li class="active"><a href="#">on campus</a></li>
        <li><a href="#">traffic</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-md-10">
    <div id="map">
    </div>
  </div>
</div><!-- /.container/.row -->
{% endblock %}

{% block js %}
<!-- Mapbox/Leaflet JS -->
<!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> -->
<script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>

<!-- Soundcloud JS -->
<script src="http://connect.soundcloud.com/sdk.js"></script>

<!-- Social Sounds Project map JS -->
<script src="/static/js/map.js"></script>
{% endblock %}
