{% extends "base.html" %}


{% block title %}Upload - Social Sounds Project{% endblock %}


{% block content %}
<div id="map">
</div>

{% from "_formhelpers.html" import render_field %}
<form class="form-horizontal" role="form" method="POST" action="/register">
    {{ render_field(form.sound) }}
    {{ render_field(form.latitude, class="form-control") }}
    {{ render_field(form.longitude, class="form-control") }}
    {{ render_field(form.human_readable_location, class="form-control") }}
    {{ render_field(form.description, class="form-control") }}
    <div class="col-sm-10 col-sm-offset-2">
        <input type="submit" value="Upload sound" class="btn btn-lg btn-primary">
    </div>
</form>
{% endblock %}


{% block js %}
<!-- Mapbox/Leaflet JS -->
<script src="https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js"></script>
<!-- Social Sounds Project map JS -->
<script src="/static/js/upload.js"></script>
{% endblock %}
